In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt 
from sklearn import linear_model
from word2number import w2n

In [2]:
h=pd.read_csv('homeprices (1).csv')
h

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
h.columns

Index(['area', 'bedrooms', 'age', 'price'], dtype='object')

In [6]:
i=h.fillna('zero')
i

   area bedrooms  age   price
0  2600        3   20  550000
1  3000        4   15  565000
2  3200     zero   18  610000
3  3600        3   30  595000
4  4000        5    8  760000
5  4100        6    8  810000

In [9]:
h.bedrooms=i.bedrooms.apply(w2n.word_to_num)
h

ValueError: Type of input is not string! Please enter a valid number word (eg. 'two million twenty three thousand and forty nine')