In [1]:
import pandas as pd
import numpy as np 
import math
from datetime import datetime

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [5]:
df=pd.read_csv('00 df.csv')
print(df.head)

<bound method NDFrame.head of       hours_per_week_bin occupation_bin  msr_bin capital_gl_bin race_sex_bin  \
0               b. 31-40   b. Mid - Low   b. Mid         c. > 0      c. High
1                a. 0-30        e. High  c. High         a. = 0      c. High
2               b. 31-40         a. Low   b. Mid         a. = 0      c. High
3               b. 31-40         a. Low  c. High         a. = 0       b. Mid
4               b. 31-40        e. High  c. High         a. = 0       a. Low
5               b. 31-40        e. High  c. High         a. = 0       b. Mid
6                a. 0-30         a. Low   b. Mid         a. = 0       a. Low
7       d. 41-50 & 61-70        e. High  c. High         a. = 0      c. High
8       d. 41-50 & 61-70        e. High   b. Mid         c. > 0       b. Mid
9               b. 31-40        e. High  c. High         c. > 0      c. High
10             c. 71-100        e. High  c. High         a. = 0       b. Mid
11              b. 31-40        e. High  c. High         a. = 0      c. High
12               a. 0-30   b. Mid - Low   a. Low         a. = 0       b. Mid
13      d. 41-50 & 61-70   c. Mid - Mid   b. Mid         a. = 0       b. Mid
14              b. 31-40   c. Mid - Mid  c. High         a. = 0      c. High
15      d. 41-50 & 61-70   c. Mid - Mid  c. High         a. = 0       b. Mid
16              b. 31-40   b. Mid - Low   a. Low         a. = 0      c. High
17              b. 31-40   b. Mid - Low   a. Low         a. = 0      c. High
18      d. 41-50 & 61-70   c. Mid - Mid  c. High         a. = 0      c. High
19      d. 41-50 & 61-70        e. High   b. Mid         a. = 0       b. Mid
20              e. 51-60        e. High  c. High         a. = 0      c. High
21               a. 0-30         a. Low   a. Low         a. = 0       a. Low
22              b. 31-40   b. Mid - Low  c. High         a. = 0       b. Mid
23              b. 31-40   c. Mid - Mid  c. High         b. < 0      c. High
24              b. 31-40  d. Mid - High   b. Mid         a. = 0       b. Mid
25              b. 31-40  d. Mid - High  c. High         a. = 0      c. High
26              b. 31-40   c. Mid - Mid   a. Low         a. = 0      c. High
27              e. 51-60   b. Mid - Low  c. High         a. = 0      c. High
28             c. 71-100        e. High   b. Mid         a. = 0      c. High
29              b. 31-40   c. Mid - Mid  c. High         a. = 0      c. High
...                  ...            ...      ...            ...          ...
48812            a. 0-30   b. Mid - Low  c. High         c. > 0      c. High
48813           b. 31-40        e. High  c. High         c. > 0      c. High
48814           b. 31-40  d. Mid - High   b. Mid         b. < 0       b. Mid
48815   d. 41-50 & 61-70        e. High  c. High         a. = 0      c. High
48816   d. 41-50 & 61-70        e. High  c. High         b. < 0      c. High
48817           b. 31-40   b. Mid - Low   a. Low         a. = 0      c. High
48818           b. 31-40        e. High   b. Mid         a. = 0       b. Mid
48819           b. 31-40  d. Mid - High  c. High         a. = 0      c. High
48820            a. 0-30   c. Mid - Mid   a. Low         a. = 0       b. Mid
48821   d. 41-50 & 61-70   c. Mid - Mid   b. Mid         a. = 0       b. Mid
48822           e. 51-60        e. High  c. High         c. > 0      c. High
48823           b. 31-40   c. Mid - Mid  c. High         a. = 0      c. High
48824           b. 31-40   c. Mid - Mid   a. Low         a. = 0      c. High
48825           b. 31-40   b. Mid - Low   b. Mid         a. = 0      c. High
48826           b. 31-40        e. High  c. High         a. = 0       b. Mid
48827           b. 31-40         a. Low   b. Mid         a. = 0       b. Mid
48828           b. 31-40   b. Mid - Low   a. Low         a. = 0       a. Low
48829           b. 31-40        e. High   b. Mid         a. = 0      c. High
48830           b. 31-40         a. Low  c. High         a. = 0      c. High
48831           b. 31-40   b. Mid - Low  c. High         a. = 0      c. High
48832   d. 41-50 & 61-70   c. Mid - Mid  c. High         a. = 0      c. High
48833           b. 31-40   c. Mid - Mid  c. High         a. = 0      c. High
48834           b. 31-40         a. Low   a. Low         a. = 0       b. Mid
48835           b. 31-40         a. Low   b. Mid         a. = 0      c. High
48836           b. 31-40        e. High   a. Low         a. = 0      c. High
48837           b. 31-40        e. High   b. Mid         a. = 0       b. Mid
48838           b. 31-40   b. Mid - Low   a. Low         a. = 0       b. Mid
48839   d. 41-50 & 61-70        e. High  c. High         a. = 0      c. High
48840           b. 31-40   b. Mid - Low   a. Low         c. > 0      c. High
48841           e. 51-60        e. High  c. High         a. = 0      c. High

      education_num_bin education_bin workclass_bin            age_bin   flag  \
0                 c. 13  c. Bachelors     b. income   d. 36-40 & 56-60  train
1                 c. 13  c. Bachelors     b. income           e. 40-55  train
2               b. 9-12        b. Mid     b. income   d. 36-40 & 56-60  train
3                a. 0-8        a. Low     b. income           e. 40-55  train
4                 c. 13  c. Bachelors     b. income  b. 26-30 & 71-100  train
5                 d. 14    d. Masters     b. income   d. 36-40 & 56-60  train
6                a. 0-8        a. Low     b. income           e. 40-55  train
7               b. 9-12        b. Mid     b. income           e. 40-55  train
8                 d. 14    d. Masters     b. income   c. 31-35 & 61-70  train
9                 c. 13  c. Bachelors     b. income           e. 40-55  train
10              b. 9-12        b. Mid     b. income   d. 36-40 & 56-60  train
11                c. 13  c. Bachelors     b. income  b. 26-30 & 71-100  train
12                c. 13  c. Bachelors     b. income            a. 0-25  train
13              b. 9-12        b. Mid     b. income   c. 31-35 & 61-70  train
14              b. 9-12        b. Mid     b. income   d. 36-40 & 56-60  train
15               a. 0-8        a. Low     b. income   c. 31-35 & 61-70  train
16              b. 9-12        b. Mid     b. income            a. 0-25  train
17              b. 9-12        b. Mid     b. income   c. 31-35 & 61-70  train
18               a. 0-8        a. Low     b. income   d. 36-40 & 56-60  train
19                d. 14    d. Masters     b. income           e. 40-55  train
20               e. 15+       e. High     b. income   d. 36-40 & 56-60  train
21              b. 9-12        b. Mid     b. income           e. 40-55  train
22               a. 0-8        a. Low     b. income   c. 31-35 & 61-70  train
23               a. 0-8        a. Low     b. income           e. 40-55  train
24              b. 9-12        b. Mid     b. income   d. 36-40 & 56-60  train
25                c. 13  c. Bachelors     b. income   d. 36-40 & 56-60  train
26              b. 9-12        b. Mid     b. income            a. 0-25  train
27              b. 9-12        b. Mid  a. no income           e. 40-55  train
28              b. 9-12        b. Mid     b. income   d. 36-40 & 56-60  train
29              b. 9-12        b. Mid     b. income           e. 40-55  train
...                 ...           ...           ...                ...    ...
48812           b. 9-12        b. Mid  a. no income  b. 26-30 & 71-100   test
48813           b. 9-12        b. Mid     b. income   d. 36-40 & 56-60   test
48814             c. 13  c. Bachelors     b. income   d. 36-40 & 56-60   test
48815             d. 14    d. Masters     b. income   d. 36-40 & 56-60   test
48816             d. 14    d. Masters     b. income           e. 40-55   test
48817           b. 9-12        b. Mid     b. income            a. 0-25   test
48818           b. 9-12        b. Mid     b. income  b. 26-30 & 71-100   test
48819           b. 9-12        b. Mid     b. income   c. 31-35 & 61-70   test
48820           b. 9-12        b. Mid     b. income   c. 31-35 & 61-70   test
48821           b. 9-12        b. Mid     b. income  b. 26-30 & 71-100   test
48822            e. 15+       e. High     b. income   d. 36-40 & 56-60   test
48823           b. 9-12        b. Mid     b. income           e. 40-55   test
48824           b. 9-12        b. Mid     b. income            a. 0-25   test
48825           b. 9-12        b. Mid     b. income   c. 31-35 & 61-70   test
48826             d. 14    d. Masters     b. income           e. 40-55   test
48827           b. 9-12        b. Mid     b. income           e. 40-55   test
48828           b. 9-12        b. Mid     b. income   d. 36-40 & 56-60   test
48829           b. 9-12        b. Mid     b. income   d. 36-40 & 56-60   test
48830           b. 9-12        b. Mid     b. income   c. 31-35 & 61-70   test
48831           b. 9-12        b. Mid     b. income           e. 40-55   test
48832           b. 9-12        b. Mid     b. income   c. 31-35 & 61-70   test
48833           b. 9-12        b. Mid     b. income   c. 31-35 & 61-70   test
48834           b. 9-12        b. Mid     b. income            a. 0-25   test
48835             d. 14    d. Masters     b. income           e. 40-55   test
48836             c. 13  c. Bachelors     b. income   c. 31-35 & 61-70   test
48837             c. 13  c. Bachelors     b. income   d. 36-40 & 56-60   test
48838           b. 9-12        b. Mid  a. no income   c. 31-35 & 61-70   test
48839             c. 13  c. Bachelors     b. income   d. 36-40 & 56-60   test
48840             c. 13  c. Bachelors     b. income           e. 40-55   test
48841             c. 13  c. Bachelors     b. income   c. 31-35 & 61-70   test

       y
0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      1
9      1
10     1
11     1
12     0
13     0
14     1
15     0
16     0
17     0
18     0
19     1
20     1
21     0
22     0
23     0
24     0
25     1
26     0
27     1
28     0
29     0
...   ..
48812  0
48813  1
48814  0
48815  1
48816  1
48817  0
48818  0
48819  0
48820  0
48821  0
48822  1
48823  0
48824  0
48825  0
48826  1
48827  0
48828  0
48829  0
48830  0
48831  0
48832  0
48833  0
48834  0
48835  0
48836  0
48837  0
48838  0
48839  0
48840  0
48841  1

[48842 rows x 11 columns]>

In [3]:
df.tail()

,hours_per_week_bin,occupation_bin,msr_bin,capital_gl_bin,race_sex_bin,education_num_bin,education_bin,workclass_bin,age_bin,flag,y
48837,b. 31-40,e. High,b. Mid,a. = 0,b. Mid,c. 13,c. Bachelors,b. income,d. 36-40 & 56-60,test,0
48838,b. 31-40,b. Mid - Low,a. Low,a. = 0,b. Mid,b. 9-12,b. Mid,a. no income,c. 31-35 & 61-70,test,0
48839,d. 41-50 & 61-70,e. High,c. High,a. = 0,c. High,c. 13,c. Bachelors,b. income,d. 36-40 & 56-60,test,0
48840,b. 31-40,b. Mid - Low,a. Low,c. > 0,c. High,c. 13,c. Bachelors,b. income,e. 40-55,test,0
48841,e. 51-60,e. High,c. High,a. = 0,c. High,c. 13,c. Bachelors,b. income,c. 31-35 & 61-70,test,1